<div class="left-container container">
    <div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
        <h2 class="titular">MENU | Discogs</h2>
        <ul class="menu-box-menu">
            <li>
                <a class="menu-box-tab" href="/releasesbylabeldiscogs"><span class="icon entypo-cog scnd-font-color"></span>Get releases</a>
            </li>
            <li>
                <a class="menu-box-tab" href="/releasesdiscogs"><span class="icon fontawesome-envelope scnd-font-color"></span>All releases</a>                            
            </li>
            <li>
                <a class="menu-box-tab" href="/filterbydatediscogs"><span class="icon entypo-paper-plane scnd-font-color"></span>Filter by date</a>                            
            </li>
            <li>
                <a class="menu-box-tab" href="#10"><span class="icon entypo-calendar scnd-font-color"></span>Filter by artist</a>                            
            </li>
            <li>
                <a class="menu-box-tab" href="#12"><span class="icon entypo-cog scnd-font-color"></span>Filter by album name</a>
            </li>                    
        </ul>
    </div>
</div>