{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>label-releases-explorer</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main_style.css' %}">
</head>
<body>
<!-- partial:index.partial.html -->
<body>
{% if formulario %}
 <form class="center" id="formulario" method="post" action=''>{% csrf_token %}
    {{formulario}}
    <input type='submit' value='Search' class="button"/>
</form>
{% endif %}

        <div class="main-container">
            <!-- HEADER -->
            <header class="block">
                <ul class="header-menu horizontal-list">
                    <li>
                        <a class="header-menu-tab" href="/"><span class="icon entypo-cog scnd-font-color"></span>Home</a>
                    </li>
                    <li>
                        <a class="header-menu-tab" href="/releasesbylabeldiscogs"><span class="icon fontawesome-user scnd-font-color"></span>Discogs releases</a>
                    </li>
                    <li>
                        <a class="header-menu-tab" href="/releasesbylabelbeatport"><span class="icon fontawesome-envelope scnd-font-color"></span>Beatport releases</a>
                    </li>
                    <li>
                        <a class="header-menu-tab" href="/releasesdiscogs"><span class="icon fontawesome-star-empty scnd-font-color"></span>Releases List</a>
                    </li>
                    <li>
                        <a class="header-menu-tab" href="/releasesbeatport"><span class="icon fontawesome-star-empty scnd-font-color"></span>Releases List</a>
                    </li>
                </ul>
            </header>

            <!-- LEFT-CONTAINER -->
            <div class="left-container container">
                <div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
                    <h2 class="titular">MENU BOX</h2>
                    <ul class="menu-box-menu">
                        <li>
                            <a class="menu-box-tab" href="#6"><span class="icon fontawesome-envelope scnd-font-color"></span>Messages<div class="menu-box-number">24</div></a>                            
                        </li>
                        <li>
                            <a class="menu-box-tab" href="#8"><span class="icon entypo-paper-plane scnd-font-color"></span>Invites<div class="menu-box-number">3</div></a>                            
                        </li>
                        <li>
                            <a class="menu-box-tab" href="#10"><span class="icon entypo-calendar scnd-font-color"></span>Events<div class="menu-box-number">5</div></a>                            
                        </li>
                        <li>
                            <a class="menu-box-tab" href="#12"><span class="icon entypo-cog scnd-font-color"></span>Account Settings</a>
                        </li>
                        <li>
                            <a class="menu-box-tab" href="#13"><sapn class="icon entypo-chart-line scnd-font-color"></sapn>Statistics</a>
                        </li>                        
                    </ul>
                </div>
            </div>
            <!-- MIDDLE-CONTAINER -->
            <div class="middle-container container-main">
                <div class="profile block"> <!-- PROFILE (MIDDLE-CONTAINER) -->
                    
                    {% if releases %}
                    <h1 class="only-center"> Total label releases:  {{ releases|length }}</h1>
                    <ul>
                    {% for row in releases %}
                        <li class="custom font-awesome">
                            <img src="{{row.image}}">
                            <h1>{{row.artist}}</h1>
                            <h2>{{row.title}}</h2>
                            {% if page_type == "discogs" %}
                            <p>Catalog Nº: {{row.catalog_number}}</p>
                            {% else %}
                            <p>Catalog Nº: <a href="{{row.catalog_number}}">Catalog</a></p>
                            {% endif %}
                            <p>Date: {{row.year}}</p>
                        </li>    
                    {% endfor %}
		            {% endif %}
                    </ul>
                </div>
            </div>
        </div> <!-- end main-container -->
    </body>
<!-- partial -->
  
</body>
</html>
