{% extends 'base.html' %}

{% block encabezado %}
<h1> Vinos Agrupados por Denominacion </h1>
{% endblock %}

{% block contenido %}
			{% regroup vinos by denominacion as grouped %}
	    	{% for group in grouped %}
		    	<h3>Denominacion: {{group.grouper}} ({{group.list|length}} vinos)</h3>
		    		{% for row in group.list %}
			    		<dt><b>Nombre: </b>{{row.nombre}} </dt>
			    		<dd><b>Precio: </b>{{row.precio}} </dd>
			    				    
			{% endfor %}
		    	</div>
	    	{% endfor %}
{% endblock %}
